.intro {
max-width: 720px;
margin: auto auto;
padding: 2rem;
color: antiquewhite;
}


.intro-title {
font-size: 2rem;
margin-bottom: 1.5rem;
}


.intro-text {
font-size: 1rem;
line-height: 1.8;
margin-bottom: 1rem;
}